div.site_icons
  img(src='images/linked_in_icon.png')
  img(src="images/facebook_icon.png")
  img(src='images/delicious_icon.png')
  img(src='images/github-icon.png')
  img(src='images/last_fm_icon.png')
  img(src='images/twitter_icon.png')