div#main(data-role='page', data-theme='a')
  div.ui_body(data-role='body')
    div(data-role='header')
      h2 Conference Rooms
    div.content(data-role='content', class='ui-body')
      ul#rooms(data-role='listview',  data-theme='a')
        - each rm, key in rooms
          li(class: 'users-'+key) 
            a(href='maps/'+rm["key"]+'.html', data-transition='slide')#{rm.name}



