!!!5
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, target-densitydpi='device-dpi'")
    meta(name="handheldFriendly", content="True")
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css')
    link(rel='stylesheet', href='stylesheets/scroll.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")
    script(src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js")
    
    script(src="javascripts/easing.js")
  body${body}
  script(src="javascripts/application.js")

