body {
	background: #000;
	color: #444;
 /*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}


.header {
	height: 50px;
	clear: both;
	width: 100%;
	padding-bottom: 2px;
	border-bottom: solid .1em green;
}

.name-logo {
	float: left;
	width: 410px;
	padding: 5px;
}

.work {
	cursor: pointer;
}

.myname {
	color: #99;
  font-family: 'Coda', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  text-shadow: 4px 4px 4px #bbb;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.05em;
  word-spacing: -0.074em;
  line-height: 1.17em;
}

.myname2 {
	font-family: 'Syncopate', serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-shadow: 6px 6px 6px #ccc;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: -0.03em;
  word-spacing: -0.153em;
  line-height: 1em;
}

.myname3 {
	color: #55;
  font-family: 'Orbitron', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  text-shadow: 2px 2px 2px green;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.001em;
  word-spacing: -0.108em;
  line-height: 1.17em;
}

.site_icons {
	padding: 10px 5px 0px 0px;
	float: right;
	width: 210px;
}

.site_icons img {
	display: inline;
	height: 32px;
	width: 32px;
	border: none;
}

.content {
	font-family: 'Nobile', serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1em;
}

.summary {
	padding-left: 10px;
	left: 10px;
	width: 300px;
	text-align: left;
	line-height: 1.15em;
}

